@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
  background: radial-gradient($blue, $violet);
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $green;
}

.text {
  text-align: center;
}